---
import type { ImageMetadata } from 'astro'
import { getImage } from 'astro:assets'
import { Site } from '~/constants'
import coverUrl from '~/assets/cover.jpg'
import '~/styles/global.css'

interface Props {
  title?: string | undefined
  description?: string | undefined
  image?: ImageMetadata | undefined
}

const {
  title = Site.Title,
  description = Site.Description,
  image = coverUrl
} = Astro.props
const optimizedImage = image && await getImage({
  src: image,
  format: 'jpg',
  quality: 'high'
})
---

<script is:inline>
  const __classList = document.documentElement.classList
  const __theme = localStorage.getItem('theme')

  if (__theme === 'dark' || __theme !== 'light' && window.matchMedia('(prefers-color-scheme: dark)').matches) {
    __classList.add('dark')
  }

  function onScroll() {
    if (window.scrollY > 0) {
      __classList.add('scrolled')
    } else {
      __classList.remove('scrolled')
    }
  }

  onScroll()
  document.addEventListener('scroll', onScroll, { passive: true })
</script>

<meta charset='utf-8'/>
<meta
  name='viewport'
  content='width=device-width,initial-scale=1'
/>
<link
  rel='icon'
  href='data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🦄</text></svg>'
/>
<meta
  name='generator'
  content={Astro.generator}
/>

<link
  rel='canonical'
  href={Astro.url}
/>

<title>{title}</title>
<meta
  name='title'
  content={title}
/>
<meta
  name='description'
  content={description}
/>

<meta
  property='og:type'
  content='website'
/>
<meta
  property='og:url'
  content={Astro.url}
/>
<meta
  property='og:title'
  content={title}
/>
<meta
  property='og:description'
  content={description}
/>
<meta
  property='og:image'
  content={new URL(optimizedImage.src, Astro.url)}
/>

<meta
  property='twitter:card'
  content='summary_large_image'
/>
<meta
  property='twitter:url'
  content={Astro.url}
/>
<meta
  property='twitter:title'
  content={title}
/>
<meta
  property='twitter:description'
  content={description}
/>
<meta
  property='twitter:image'
  content={new URL(optimizedImage.src, Astro.url)}
/>
